<%- include('../partials/header') %>

<form id="edit-form" action="/budgets/<%= budget._id %>?_method=PUT" method="POST">
  <label>Name of Creator:</label>
  <input type="text" name="nameOfCreator" value="<%= budget.nameOfCreator %>" required>
  <label>Month:</label>
  <input type="text" name="month" value="<%= budget.month %>" required>
  <label>Year:</label>
  <input type="number" name="year" value="<%= budget.year %>" required>
  <input type="submit" value="Update Budget">
</form>

<%- include('../partials/footer') %>
