<%- include('../partials/header') %>

<section id="show-page">
  <div>Month:</div>
  <div><%= budget.month %></div>
  <div>Year:</div>
  <div><%= budget.year %></div>
</section>

<form
  id="add-income-form"
  method="POST"
  action="/budgets/<%= budget._id %>/incomes"
>
  <label class="show-input">Category:</label>
  <select name="category">
    <option value="Salary">Salary</option>
    <option value="Investments">Investments</option>
    <option value="Other">Other</option>
  </select>
  <label class="show-input">Income Name:</label>
  <input type="text" name="incomeName" />
  <label class="show-input">Amount:</label>
  <input type="text" name="amount" />
  <input type="submit" value="Add Income" class="show-button" />
</form>

<form
  id="add-expense-form"
  method="POST"
  action="/budgets/<%= budget._id %>/expenses"
>
  <label class="show-input">Category:</label>
  <select name="category">
    <option value="Housing">Housing</option>
    <option value="Transportation">Transportation</option>
    <option value="Food">Food</option>
    <option value="Medical">Medical</option>
    <option value="Personal">Personal</option>
    <option value="Debt">Debt</option>
    <option value="Retirement">Discretionary</option>
    <option value="Other">Other</option>
  </select>
  <label class="show-input">Expense Name:</label>
  <input type="text" name="expenseName" />
  <label class="show-input">Amount:</label>
  <input type="text" name="amount" />
  <input type="submit" value="Add Expense" class="show-button" />
</form>

<section id="calculations">
  <% 
  // Calculate total income and total expenses within the calculations section
  let totalIncome = budget.incomes.reduce((acc, i) => acc + i.amount, 0);
  let totalExpenses = budget.expenses.reduce((acc, e) => acc + e.amount, 0);
  %>

  <div>
    Total Income: <%= totalIncome %>
  </div>
  <div>
    Total Expenses: <%= totalExpenses %>
  </div>
  <div>
    Net Income: <%= totalIncome - totalExpenses %>
  </div>
  
  <div>
    <h4>Income Category Percentage of Total Income:</h4>
    <ul>
      <% budget.incomes.forEach(function(i) { %>
        <li><%= i.category %>: <%= ((i.amount / totalIncome) * 100).toFixed(2) %> %</li>
      <% }); %>
    </ul>
  </div>

  <div>
    <h4>Expense Category Percentage of Total Income:</h4>
    <ul>
      <% budget.expenses.forEach(function(e) { %>
        <li><%= e.category %>: <%= ((e.amount / totalIncome) * 100).toFixed(2) %> %</li>
      <% }); %>
    </ul>
  </div>
</section>


<% if (budget.incomes && budget.incomes.length) { %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Income Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% budget.incomes.forEach(function(i) { %>
    <tr>
      <td><%= i.category %></td>
      <td><%= i.incomeName %></td>
      <td><%= i.amount %></td>
      <td>
        <form action="/incomes/<%= i._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Incomes Yet</h5>
<% } %> <% if (budget.expenses && budget.expenses.length) { %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Expense Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% budget.expenses.forEach(function(e) { %>
    <tr>
      <td><%= e.category %></td>
      <td><%= e.expenseName %></td>
      <td><%= e.amount %></td>
      <td>
        <form action="/expenses/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Expenses Yet</h5>
<% } %> <%- include('../partials/footer') %>
