<%- include('../partials/header') %>

<section id="show-page">
  <div>Month:</div>
  <div><%= budget.month %></div>
  <div>Year:</div>
  <div><%= budget.dateCreated %></div>
  <div>Name of person:</div>
  <div><%= budget.nameOfPerson %></div>
  <div>Has month passed:</div>
  <div><%= budget.passMonth ? 'Yes' : 'No' %></div>
</section>

  <form
    id="add-income-form"
    method="POST"
    action="/budgets/<%= budget._id %>/incomes"
  >
    <label for="income-name">Income Name:</label>
    <textarea id="income-name" name="name"></textarea>
    <label for="income-amount">Amount:</label>
    <textarea id="income-amount" name="amount"></textarea>
    <input type="submit" value="Add Income" />
  </form>

  <% if (budget.incomes && budget.incomes.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% budget.incomes.forEach(function(i) { %>
      <tr>
        <td class="incomes-user">
          <img
            alt="avatar"
            src="<%= i.userAvatar %>"
            referrerpolicy="no-referrer"
          /><%= i.userName %>
        </td>
        <td><%= i.createdAt.toLocaleDateString() %></td>
        <td><%= i.name %></td>
        <td><%= i.amount %></td>
        <td>
          <form action="/incomes/<%= i._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Incomes Yet</h5>
  <% } %>

<form
  id="add-expense-form"
  method="POST"
  action="/budgets/<%= budget._id %>/expenses"
>
  <label for="expense-name">Expense Name:</label>
  <textarea id="expense-name" name="expenseName"></textarea>
  <label for="expense-amount">Amount:</label>
  <textarea id="expense-amount" name="amount"></textarea>
  <input type="submit" value="Add Expense" />
</form>

<% if (budget.expenses && budget.expenses.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Expense Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% budget.expenses.forEach(function(e) { %>
    <tr>
      <td class="expense-user">
        <img
          alt="avatar"
          src="<%= e.userAvatar %>"
          referrerpolicy="no-referrer"
        /><%= e.userName %>
      </td>
      <td><%= e.createdAt.toLocaleDateString() %></td>
      <td><%= e.expenseName %></td>
      <td><%= e.amount %></td>
      <td>
        <form action="/expenses/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Expenses Yet</h5>
<% } %> 

<%- include('../partials/footer') %>
